[submodule "gromacs-hpccm-recipes-mult-stages"]
	path = gromacs-hpccm-recipes-mult-stages
	url = https://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@github.com/obiorahedeh-stemcell/gromacs-hpccm-recipes-mult-stages.git
